<!DOCTYPE html>
<html>

<head>
  <title><%= user.username %>'s Dashboard</title>
  <% include partials/dependencies.ejs %>
  <% include partials/custom.ejs %>
</head>

<body id="dashboard-body">
  <% include partials/navbar.ejs %>
  <div class="container-fluid text-center" id="user-banner">
    <div class="row">
      <div class="container-fluid px-4">
        <div class="row py-4">
          <div class="col col-sm text-center mb-0">
            <span class="text-uppercase"><%= user.username %>'s Dashboard</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex" id="wrapper">
    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading"><b>Quick Nav</b></div>
      <div class="list-group list-group-flush">
        <a href="#calendar-view" class="list-group-item list-group-item-action bg-light">Calendar</a>
        <a href="#task-panel-view" class="list-group-item list-group-item-action bg-light">Task Panel</a>
      </div>
    </div>
    <div id="page-content-wrapper">
      <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <button class="btn btn-primary btn-sm" id="menu-toggle">Toggle Quick Nav</button>
      </nav>
      <div class="container-fluid" id="a">
        <!-- Content goes here -->
        <div class="container" id="calendar-view">
          <div class="row">
            <div id='calendar'></div>
          </div>
          <div class="row">
            <!-- <% if (typeof event != 'undefined') { %>
              <p><%= JSON.stringify(event) %></p>
            <% } %> -->
          </div>
        </div>
      </div>
      <div class="container-fluid" id="b">
        <h1 class="mt-4">Task Panel View</h1>
        <!-- Content goes here -->
      </div>
    </div>
  </div>
  <% include partials/footer.ejs %>
</body>
<script>
  $("#menu-toggle").click(function(e) {
    e.preventDefault();
    $("#wrapper").toggleClass("toggled");
  });
</script>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');

    var calendar = new FullCalendar.Calendar(calendarEl, {
      height: 600,
      plugins: ['dayGrid', 'interaction'],
      defaultView: 'dayGridMonth',
      header: {
        center: 'addEventButton'
      },
      customButtons: {
        addEventButton: {
          text: 'Add Event',
          click: function() {
            var promptStr = prompt('Enter date (MM-DD-YYYY):'); // YYYY-MM-DD
            var arr = promptStr.split('-');
            var date = new Date(arr[2] + '-' + arr[0] + '-' + arr[1] + 'T00:00:00');
            var dateStr = new String(arr[2] + '-' + arr[0] + '-' + arr[1] + 'T00:00:00');

            if (!isNaN(date.valueOf())) { // Check if isValid.
              var titleStr = prompt('Enter title for event:');

              calendar.addEvent({
                title: titleStr,
                start: date,
                allDay: true,
                textColor: 'white'
              });

              $.post('dashboard/add-event', {
                  email: '<%= user.email %>',
                  title: titleStr,
                  start: dateStr,
                  allDay: true
                },
                function(data, status, xhr) {
                  $('p').append('status: ' + status + ', data: ' + data);
                })
                .done(function() { alert('Request done!'); })
                .fail(function(jqxhr, settings, ex) { alert('failed, ' + ex);
              });
            } else {
              alert('Request could not be processed: Invalid date entered.');
            }
          }
        }
      },
      eventSources: [{
      events: <%- JSON.stringify(event) %>,
      textColor: 'white' }]
    });

    calendar.render();
  });
</script>

</html>
