<!DOCTYPE html>
<html>

<head>
  <title><%= user.username %>'s Dashboard</title>
  <% include partials/dependencies.ejs %>
  <% include partials/custom.ejs %>
</head>

<body id="dashboard-body">
  <% include partials/navbar.ejs %>
  <% include partials/help-modal.ejs %>
  <div class="container-fluid text-center" id="user-banner">
    <div class="row">
      <div class="container-fluid px-4">
        <div class="row py-4">
          <div class="col col-sm text-center mb-0">
            <span class="text-uppercase"><%= user.username %>'s Dashboard</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex" id="wrapper">
    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading"><b>Quick Nav</b></div>
      <div class="list-group list-group-flush">
        <a href="#calendar-view" class="list-group-item list-group-item-action bg-light">Calendar</a>
        <a href="#task-panel-view" class="list-group-item list-group-item-action bg-light">Task Panel</a>
      </div>
    </div>
    <div id="page-content-wrapper">
      <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <button class="btn btn-primary btn-sm" id="menu-toggle">Toggle Quick Nav</button>
      </nav>
      <div class="container-fluid" id="a">
        <!-- Content goes here -->
        <div class="container" id="calendar-view">
          <div class="row">
            <div id='calendar'></div>
          </div>
          <div class="row justify-content-end">
            <p>Need help? Click <a href="#" data-toggle="modal" id="" data-target="#help-modal">here</a>.</p>
          </div>
        </div>
      </div>
      <div class="container-fluid" id="b">
        <h1 class="mt-4">Task Panel View</h1>
        <!-- Content goes here -->
        <table id="task-panel-view" class="table table-bordered hover" style="width:100%">
          <thead>
            <tr>
              <th>Title</th>
              <th>Description</th>
              <th>Due</th>
              <th>&nbsp;</th>
              <th>&nbsp;</th>
            </tr>
          </thead>
          <tbody>
            <% if (typeof eventsTP != 'undefined') { %>
              <% for(var i=0; i < eventsTP.length; i++) { %>
                <tr>
                  <td><%= eventsTP[i].title %></td>
                  <td><%= eventsTP[i].desc %></td>
                  <td><%= eventsTP[i].start %></td>
                  <td class="text-center">
                    <a href="#"><i id="update-ic" class="fa fa-check" aria-hidden="true"></i></td></a>
                  </td>
                  <td class="text-center">
                    <a href="#"><i id="delete-ic" class="fa fa-trash" aria-hidden="true"></i></td></a>
                  </td>
                </tr>
              <% } %>
            <% } %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <% include partials/footer.ejs %>
</body>
<!-- Modal JS -->
<script>
  $("#menu-toggle").click(function(e) {
    e.preventDefault();
    $("#wrapper").toggleClass("toggled");
  });
</script>
<!-- Pagination JS -->
<script>
  $(document).ready(function() {
    $('#task-panel-view').DataTable();
  });
</script>
<!-- FullCalendar JS -->
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');

    var calendar = new FullCalendar.Calendar(calendarEl, {
      height: 600,
      aspectRatio: 2,
      plugins: ['dayGrid', 'interaction'],
      header: {
        left: 'title',
        center: 'addEventButton',
        right: 'today prev,next'
      },
      dateClick: function(info) {
        var date = new Date(info.dateStr + 'T00:00:00');

        if (!isNaN(date.valueOf())) { // Check if isValid.
          var titleStr = prompt('Enter title for event:');
          var descStr = prompt('Please enter description for event:');

          if (titleStr != null && descStr != null) {
            // Add event to frontend,
            calendar.addEvent({
              title: titleStr,
              start: date,
              allDay: true,
              textColor: 'white'
            });

            // Add event to backend.
            $.post('dashboard/add-event', {
                email: '<%= user.email %>',
                title: titleStr,
                desc: descStr,
                status: false,
                start: date,
                allDay: true
              },
              function(data, status, xhr) {
                console.log('status: ' + status + ', data: ' + data);
              })
              .done(function() { return; })
              .fail(function(jqxhr, settings, ex) { alert('failed, ' + ex);
            });
          }
        } else {
          alert('Request could not be processed: Invalid date entered.');
        }
      },
      customButtons: {
        addEventButton: {
          text: 'Add Event',
          click: function() {
            var promptStr = prompt('Enter date (MM-DD-YYYY):'); // YYYY-MM-DD
            var arr = promptStr.split('-');
            var date = new Date(arr[2] + '-' + arr[0] + '-' + arr[1] + 'T00:00:00');

            if (!isNaN(date.valueOf())) { // Check if isValid.
              var titleStr = prompt('Enter title for event:');
              var descStr = prompt('Please enter description for event:');

              if (titleStr != null && descStr != null) {
                calendar.addEvent({
                  title: titleStr,
                  start: date,
                  allDay: true,
                  textColor: 'white'
                });

                $.post('dashboard/add-event', {
                    email: '<%= user.email %>',
                    title: titleStr,
                    desc: descStr,
                    status: false,
                    start: date,
                    allDay: true
                  },
                  function(data, status, xhr) {
                    console.log('status: ' + status + ', data: ' + data);
                  })
                  .done(function() { return; })
                  .fail(function(jqxhr, settings, ex) { alert('failed, ' + ex);
                });
              }
            } else {
              alert('Request could not be processed: Invalid date entered.');
            }
          }
        }
      },
      eventSources: [{
        events: <%- JSON.stringify(eventsFC) %>,
        textColor: 'white'
      }]
    });

    calendar.render();
  });
</script>

</html>
